/build/
/dist/
.vscode/
programa.exe
main.o
CLIENTE.o
COMENTARIO.o
compra_producto.o
COMPRA.o
CONTROLADOR.o
DataCliente.o
DataCompra.o
DataDireccion.o
DataProd.o
DataProducto.o
DataUsuario.o
DataVendedor.o
main.exe
